@import url(https://fonts.googleapis.com/css?family=Montserrat:900);
body {
  margin: 0;
}

div {
  position: relative;
  background: white;
}

p {
  margin: 0;
  font-size: 20vw;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: black;
  white-space: break-all;
  line-break: anywhere;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: lighten;
}
